<form action="/posts/create" method="POST">
  <div class="form-group">
    <label for="title">heading</label>
    <input type="text" name="post[title]" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a topic</label>
    <select class="form-control">
    <% @topics.each do |item| %>
    <option value="<% topics.id %>"><% topics.title %></option>
    <% end %>%>
      <option>1</option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label>Text:</label>
    <textarea name="post[body]" class="form-control" rows="10"></textarea>
  </div>
</form>